﻿
@{
    ViewBag.Title = "Partida";
}

<h2>Partida</h2>

<div class="jumbotron">
    <div id="contenidoPartidas">

    </div>
</div>
<script>
    var casillas = [
        [
            null,
            {
                "id": 1,
                "blanca": true,
                "alta": true,
                "cuadrada": true,
                "llena": true,
                "disponible": false
            },
            null,
            null
        ],
        [
            null,
            null,
            null,
            null
        ],
        [
            null,
            null,
            null,
            null
        ],
        [
            null,
            null,
            null,
            null
        ]];

    function CargarTablero() {
       var html= "<table>"
        for (var i = 0; i < casillas.length; i++) {
            var fila = casillas[i];
            html = html + "<tr>"
            for (j = 0; j < fila.length; j++) {
                html = html + "<td>" + "x" + "</td>";   
            }
            html = html + "</tr>";
        }
        html = html + "</table>";
        $("#contenidoPartidas").html(html);
    }
</script>

