﻿@{
    ViewBag.Title = "Partidas";
}

<style>
    .filaPartida {
        margin-top: 10px;
    }

    #tblPartidas tbody {
        color: black;
    }

    #tblPartidas thead {
        background-color:chartreuse;
    }

    .dataTables_paginate {
        background-color: chartreuse;
    }

    .dataTables_info {
        color: chartreuse!important;
    }

    .dataTables_length label {
        color: chartreuse;
    }

    .dataTables_filter label {
        color: chartreuse;
    }

</style>

<div class="jumbotron">
   <div id="contenidoPartidas"></div>
</div>

<script>
    $(document).ready(function () {
        cargaInicial();
        function cargaInicial() {
            $.ajax({
                url: 'http://quartopoli.eastus.cloudapp.azure.com/api/Quarto/GetPartidas',
                type: 'GET',
                dataType: 'json',
                success: function (json) {
                    $("#contenidoPartidas").empty();
                    var htmlAlterno = '<table id="tblPartidas"><thead><tr><th>Fecha Creación</th><th>NombrePartida</th><th>Estado Partida</th></tr></thead><tbody>';
                    $.each(json, function (i, item) {
                        htmlAlterno += "<tr><td>" + item.FechaCreacion + "</td><td>" + "<div class='col-sm-2'><a href='/home/Partida?idPartida=" + item.Id + "' class='btn btn-primary'>" + item.NombrePartida + "</a></div>" + "</td>";
                        var html = "<div class='row filaPartida'>" + "<div class='col-sm-2'><a href='/home/Partida?idPartida=" + item.Id + "' class='btn btn-primary'>" + item.NombrePartida + "</a></div>";
                        if (item.EstadoPartida === "Creada") {
                            //$("#contenidoPartidas").append("<div class='col-sm-4'><span class='label label-danger'>" + item.EstadoPartida + "</span></div>");
                            htmlAlterno += "<td><div class='col-sm-4'><span class='label label-danger'>" + item.EstadoPartida + "</span></div></td>";
                            html = html + "<div class='col-sm-4'><span class='label label-danger'>" + item.EstadoPartida + "</span></div>";
                        } else if (item.EstadoPartida.indexOf("En espera") > 0) {
                            html = html + "<div class='col-sm-4'><span class='label label-info'>" + item.EstadoPartida + "</span></div>";
                            htmlAlterno += "<td><div class='col-sm-4'><span class='label label-info'>" + item.EstadoPartida + "</span></div></td>";
                            //$("#contenidoPartidas").append("<div class='col-sm-4'><span class='label label-info'>" + item.EstadoPartida + "</span></div>");
                        } else {
                            html = html + "<span class='label label-success'>" + item.EstadoPartida + "</span>";
                            htmlAlterno += "<td><span class='label label-success'>" + item.EstadoPartida + "</span></td></tr>";
                            //$("#contenidoPartidas").append("<span class='label label-success'>" + item.EstadoPartida + "</span>");
                        }
                        html = html + "</div>";
                        html = html + "<hr style='border: 1px solid white;' />";
                    });
                    htmlAlterno = htmlAlterno + '</tbody></table>';
                    $("#contenidoPartidas").append(htmlAlterno);
                    $('#tblPartidas').DataTable({
                        "order": [[0, "desc"]]
                    });
                   
                }
            });
        }
    });
</script>