﻿
@{
    ViewBag.Title = "Partida";
}

<style>
    .border {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .celdas {
        text-align:center;
        vertical-align:middle;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height:100px;
    }

    .limpia {
        display: inline-block;
        width: 80px;
        height: 80px;
        border:0;
    }

    .limpiaBarra {
        display:none;
    }

    .borderBaja {
        display: inline-block;
        width: 60px;
        height: 60px;
    }

    .cajaAlta {
        display: inline-block;
        width: 75px;
        height: 75px;
    }

    .cajaBaja {
        display: inline-block;
        width: 50px;
        height: 50px;
    }


    .cajaVacia {
        background-color:none!important;
    }


    span {
        text-align:center;
    }

    .jumbotron {
        background-color: #D68910;
    }

    .bg-blanca {
        background-color:white;
    }

    .bg-negra {
        background-color: black;
    }

    .border-blanca {
        display: inline-block;

        border: 10px solid white;
    }

    .border-negra {
        display: inline-block;

        border: 10px solid black;
    }

    .fichasDisponibles {
        background-color: #D68910;
        vertical-align: top;
        /*position: fixed;*/
        right: 10px;
        bottom: 5px;
        top: 5px;
        float: right;
        min-height: 500px;
        min-width: 300px;
        display: inline-block;
    }

    .lateral {
        display: inline-block;
        text-align: center;
        margin-top: 10px;

    }

    .fichaJuego {
        display:inline-block;
        float:right;
    }

    .contenidoPartidas {
        float: left;
    }

    .jumbotron {
        display:inline-block;
    }

    .mensajeFinalizada {
        color:red;
    }

    .registroJugadas {
        padding-top:10px;
        margin-top: 10px;
        color:red;
        clear:both;
    }

    .lineaRegistro {
        background-color:white;
        border-top:1px solid black;
    }

   
    
</style>
<div>
    <h5 id="nomPartida" class="col-md-4"></h5>
    <input type="hidden" id="hdPartida" value="@ViewBag.Partida" />
    <div id="divJugadores" class="col-md-4">
    </div>
    <div class="mensajeFinalizada col-md-8" id="siEstaFinalizada"></div>
</div>
<div class="container-fluid">
    <div class="jumbotron col-md-8">
        <div id="contenidoPartidas" class="contenidoPartidas col-md-8">
        </div>
        <div class="fichaJuego col-md-4">
            <h4 class="text-danger">Ficha en juego</h4>
            <div class="row" id="fichaEnJuego">
            </div>
        </div>
        <br />
        <div id="registroJugadas" class="registroJugadas"></div>
    </div>
    
    <div class="fichasDisponibles col-md-2" id="dvFichasDisponibles">
    </div>
</div>
<script>
    $().ready(function () {
        cargaInicial();
    });

    function cargaInicial() {
        window.setTimeout(function () {
        $.ajax({
            url: 'http://quartopoli.eastus.cloudapp.azure.com/api/Quarto/ConsultarEstadoPartida',
            type: 'GET',
            data: { 'idPartida': $('#hdPartida').val()},
            dataType: 'json',
            success: function (json) {
                $("#nomPartida").empty();
                $("#nomPartida").append(json.NombrePartida);
                $("#divJugadores").empty();
                $("#divJugadores").append("<h5 class='label label-success'> Jugador en turno: " + json.JugadorEnTurno + " </h5>");
                var html = '<div class="row col-md-8">';
                for (var i = 0; i < json.Tablero.Casillas.length; i++) {
                    if (i == 0 || i == 4 || i == 8 || i == 12) {
                        var html = html + '</div><div class="row col-md-12">';
                    }
                    var imgFicha = '<span class="limpia ABC DEF GHI JKL"></span>';
                    if (json.Tablero.Casillas[i] != null) {
                        imgFicha = imgFicha.replace('limpia', 'border');
                        var nombreArchivo = '';
                        if (json.Tablero.Casillas[i].Alta == true) {
                            imgFicha = imgFicha.replace('ABC', 'cajaAlta');
                        } else {
                            imgFicha = imgFicha.replace('ABC', 'cajaBaja');
                        }

                        if (json.Tablero.Casillas[i].Blanca == true) {
                            imgFicha = imgFicha.replace('border', '');
                            imgFicha = imgFicha.replace('DEF', 'bg-blanca border-blanca');
                        } else {
                            imgFicha = imgFicha.replace('border', '');
                            imgFicha = imgFicha.replace('DEF', 'bg-negra border-negra');
                        }

                        if (json.Tablero.Casillas[i].Cuadrada == true) {
                          imgFicha =  imgFicha.replace('GHI', 'rounded');

                        } else {
                          imgFicha =  imgFicha.replace('GHI', 'rounded-circle');
                        }

                        if (json.Tablero.Casillas[i].Llena) {
                            //imgFicha = imgFicha.replace('JKL', 'rounded');
                        } else {
                            imgFicha = imgFicha.replace('JKL', 'cajaVacia');
                            imgFicha = imgFicha.replace('bg-', 'xx');
                        }

                        
                        //html = html + '<div class="col-md-3">' + nombreArchivo + '</div>';
                        //html = html + '<div class="col-md-3"><img width="80" height="80" src="../img/empty.png"/></div>';
                    } else {
                        //html = html + '<div class="col-md-3">'+ imgFicha +'</div>';
                        imgFicha = imgFicha.replace('ABC', 'bg-dark');
                        imgFicha = imgFicha.replace('DEF', 'rounded');
                    }
                    html = html + '<div class="col-md-3 celdas border border-danger">' + imgFicha + '</div>';
                }
                var html = html + '</div>';
                $("#contenidoPartidas").empty();
                $("#contenidoPartidas").append(html);

                var contador = -1;
                var htmlBarra = ''; //html + '</div><div class="row col-md-12">';
                for (var i = 0; i < json.Tablero.Fichas.length; i++) {
                    var imgFicha = '<span class="limpiaBarra ABC DEF GHI JKL" style="margin-left:20px;"></span>';
                    if (json.Tablero.Fichas[i] != null && json.Tablero.Fichas[i].Disponible == true) {
                        contador++;
                        imgFicha = imgFicha.replace('limpiaBarra', 'border');
                        if (json.Tablero.Fichas[i].Alta) {
                            imgFicha = imgFicha.replace('ABC', 'cajaAlta');
                        } else {
                            imgFicha = imgFicha.replace('ABC', 'cajaBaja');
                        }

                        if (json.Tablero.Fichas[i].Blanca) {
                            imgFicha = imgFicha.replace('border', '');
                            imgFicha = imgFicha.replace('DEF', 'bg-blanca border-blanca');
                        } else {
                            imgFicha = imgFicha.replace('border', '');
                            imgFicha = imgFicha.replace('DEF', 'bg-negra border-negra');
                        }

                        if (json.Tablero.Fichas[i].Cuadrada) {
                            imgFicha = imgFicha.replace('GHI', 'rounded');

                        } else {
                            imgFicha = imgFicha.replace('GHI', 'rounded-circle');
                        }

                        if (json.Tablero.Fichas[i].Llena) {
                            //imgFicha = imgFicha.replace('JKL', 'rounded');
                        } else {
                            imgFicha = imgFicha.replace('JKL', 'cajaVacia');
                            imgFicha = imgFicha.replace('bg-', 'xx');
                        }


                        //html = html + '<div class="col-md-3">' + nombreArchivo + '</div>';
                        //html = html + '<div class="col-md-3"><img width="80" height="80" src="../img/empty.png"/></div>';
                    } else {
                        //html = html + '<div class="col-md-3">'+ imgFicha +'</div>';
                        imgFicha = imgFicha.replace('ABC', 'bg-success');
                        imgFicha = imgFicha.replace('DEF', 'rounded');
                    }
                    if (contador == 0 || contador % 2 == 0) {
                        htmlBarra = htmlBarra + '<div class=" lateral row col-md-12">' + imgFicha ;
                    } else {
                        htmlBarra = htmlBarra +  imgFicha + '</div>';
                    }
                }

                $("#dvFichasDisponibles").empty();
                $("#dvFichasDisponibles").append(htmlBarra);

                var imgFicha = '<span class="limpiaBarra ABC DEF GHI JKL" style="margin-left:20px;"></span>';
                if (json.FichaEnJuego != null ) {
                    imgFicha = imgFicha.replace('limpiaBarra', 'border');
                    if (json.FichaEnJuego.Alta) {
                        imgFicha = imgFicha.replace('ABC', 'cajaAlta');
                    } else {
                        imgFicha = imgFicha.replace('ABC', 'cajaBaja');
                    }

                    if (json.FichaEnJuego.Blanca) {
                        imgFicha = imgFicha.replace('border', '');
                        imgFicha = imgFicha.replace('DEF', 'bg-blanca border-blanca');
                    } else {
                        imgFicha = imgFicha.replace('border', '');
                        imgFicha = imgFicha.replace('DEF', 'bg-negra border-negra');
                    }

                    if (json.FichaEnJuego.Cuadrada) {
                        imgFicha = imgFicha.replace('GHI', 'rounded');

                    } else {
                        imgFicha = imgFicha.replace('GHI', 'rounded-circle');
                    }

                    if (json.FichaEnJuego.Llena) {
                        //imgFicha = imgFicha.replace('JKL', 'rounded');
                    } else {
                        imgFicha = imgFicha.replace('JKL', 'cajaVacia');
                        imgFicha = imgFicha.replace('bg-', 'xx');
                    }


                    //html = html + '<div class="col-md-3">' + nombreArchivo + '</div>';
                    //html = html + '<div class="col-md-3"><img width="80" height="80" src="../img/empty.png"/></div>';
                } else {
                    //html = html + '<div class="col-md-3">'+ imgFicha +'</div>';
                    imgFicha = imgFicha.replace('ABC', 'bg-success');
                    imgFicha = imgFicha.replace('DEF', 'rounded');
                }

                var htmlDisponible = '<div  class="row col-md-12 fichaJuego">' + imgFicha + '</div>';

                $('#fichaEnJuego').empty();
                $("#fichaEnJuego").append(htmlDisponible);
                $("#siEstaFinalizada").empty();
                if (json.PartidaFinalizada) {
                    if (json.HuboGanador) {
                        var htmlResultadoPartida = "";
                        htmlResultadoPartida = "<span>Partida finalizada: " + json.MotivoVictoria + "</span></br>"
                        htmlResultadoPartida += "<span>Jugador ganador:" + json.JugadorGanador + "</span>"
                        $("#siEstaFinalizada").append(htmlResultadoPartida);
                        //ALGUIEN GANÓ
                    } else {
                        $("#siEstaFinalizada").append("<span>Partida finalizada pero no hubo ganador</span>")
                    }
                }
                $("#registroJugadas").empty();
                var htmlRegistroJugadas = "";
                for (var k = 0; k < json.RegistroJugadas.length; k++) {
                    htmlRegistroJugadas += "<div class='row lineaRegistro'>";
                    var cadenaAjustada = json.RegistroJugadas[k].FichaEntregada;
                    cadenaAjustada = cadenaAjustada.replace("Ficha Jugada:", "");
                    htmlRegistroJugadas += "<span><b>" + json.RegistroJugadas[k].FechaHora + " " + json.RegistroJugadas[k].NombreJugador + ": </b>Ficha Entregada: <b>" + cadenaAjustada + "</b>&nbsp;</span>"
                    if (k != 0) {
                        htmlRegistroJugadas += "<span> Movimiento realizado: Fila: <b> " + json.RegistroJugadas[k].PosicionJugadaFichaAnteriorIndiceFila + " </b> Columna: <b> " + json.RegistroJugadas[k].PosicionJugadaFichaAnteriorIndiceColumna + " </b></span></div>";
                    } else {
                        htmlRegistroJugadas += "<span>&nbsp;</span></div>";
                    }
                }
                $("#registroJugadas").append(htmlRegistroJugadas);
                blinker();
                cargaInicial();
            },
            error: function () {
                cargaInicial();
            }
            });

        }, 2000);

        function blinker() {
            $('.mensajeFinalizada').fadeOut(500);
            $('.mensajeFinalizada').fadeIn(500);
        }
    }
        
</script>


